.teamslist-item {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px white solid;
}

.dashboard-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.dashboard-button:hover {
  cursor: pointer;
}

.dashboard-button_secondary {
  border: white solid 1px;
  color: white;
  background-color: transparent;
}
