.button-SCD {
  margin-left: 20px;
  padding: 5px 5px 5px;
  background-color: transparent;
  border: 1px white solid;
  color: white;
  text-transform: capitalize;
}

.button-SCD:hover {
  cursor: pointer;
}
