.giftee-zone {
  position: relative;
  z-index: 999;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.giftee-message {
  font-size: 34px;
  color: white;
  margin-bottom: 80px;
}

.giftee-name {
  font-size: 42px;
  font-weight: 700;
  color: white;
}

.giftee-santa {
  font-size: 42px;
  color: white;
  margin-bottom: 40px;
}

.giftee-text {
  font-family: rollerscript-smooth, sans-serif;
  font-weight: 400;
}

.back-button_giftee {
  margin: 120px auto 60px;
  padding: 10px 20px 10px;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
  border: 1px solid white;
}
