.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 25px;
}

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
  }
}

.header-link {
  margin-right: 20px;
}
