@import url("./vendor/normalize.css");

body {
  margin: 0 auto;
  min-width: 320px;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #1a1b22;
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  background-color: #1b2845;
  color: white;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
